<p class="col p-0 m-0">
	<button
		class="btn btn-info"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target="#comment-collapse-{{this.id}}"
		aria-expanded="false"
		aria-controls="comment-collapse-{{this.id}}"
	>
		View Comments
	</button>
</p>
<p class="col p-0 m-0">
	<button
		class="btn btn-outline-primary"
		type="button"
		data-bs-toggle="collapse"
		data-bs-target="#create-comment-{{this.id}}"
		aria-expanded="false"
		aria-controls="create-comment-{{this.id}}"
	>
		Create Comment
	</button>
</p>
<div class="collapse m-0 p-0" id="comment-collapse-{{this.id}}">
	<div class="comments card m-1 p-2">
		<ul class="comment-list list-group list-group-flush p-0 m-0">
			{{#each this.comments as |comment|}}
				<li class="list-group-item comment p-2 m-0">
					<div class="text-muted text-end comment-header p-1 m-0">
						Comment By
						{{comment.user.username}}
						on
						{{comment.updatedAt}}
					</div>
					<div class="text-start">
						{{comment.content}}
					</div>
				</li>
			{{/each}}
		</ul>
	</div>
</div>
<div class="collapse m-0 p-0" id="create-comment-{{this.id}}">
	<form class="m-1 p-2">
		<div class="mb-3">
			<label
				for="new-comment"
				class="form-label text-dark text-start px-1 py-0 m-0"
				style="width: 100%;"
			>Comment</label>
			<textarea
				class="form-control"
				name="new-comment"
				id="new-comment"
			></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>