<div
	class="post card-transform btn btn-outline-primary"
	id="post-{{this.id}}"
	role="button"
>
	<div class="card p-0 m-0 border-0">
		<div class="card-header p-0 m-0">
			<h6 class="font-weight-light text-muted py-1 my-0">
				Posted by
				{{this.user.username}}
				on
				{{this.updatedAt}}
			</h6></div>
		<div class="card-body px-1 py-0 m-1">
			<div class="card-title">
				<h5
					class="post-title font-weight-bold text-primary p-0 mx-1 my-0 border-bottom border-primary rounded-0 border-opacity-75"
				>{{this.title}}
				</h5>
			</div>
			<div class="post-text px-2 py-0">
				<p class="card-text text-dark">{{this.content}}</p>
			</div>
		</div>
		<div class="card-footer row m-1 p-2">
			{{> comment this}}
		</div>
	</div>
</div>