<div class="card post">
	<div class="card-body">
		<div class="row card-title bg-dark">
			<h5 class="col post-title font-weight-bold text-light">
				<a
					href="/api/posts/{{this.id}}"
					class="btn btn-outline-primary"
				>{{this.title}}</a>
			</h5>
			<h6 class="post-user post-time col font-weight-light text-muted">
				Posted by
				{{this.user.username}}
				on
				{{this.updatedAt}}
			</h6>
		</div>
		<div class="post-text">
			<p class="card-text">{{this.content}}</p>
		</div>
		{{> comment this}}
	</div>
</div>