<div
	class="post card-transform btn btn-outline-primary"
	id="post-{{this.id}}"
	role="button"
>
	<div class="card border-0">
		<div class="card-header m-0 py-2 px-4">
			<h6 class="font-weight-light text-muted p-0 m-0">
				Posted by
				{{this.user.username}}
				on
				{{this.updatedAt}}
			</h6>
		</div>
		<div class="card-body m-0 py-2 px-4">
			<div class="card-title">
				<h5
					class="post-title"
				>{{this.title}}
				</h5>
			</div>
			<div class="post-text">
				<p class="card-text text-dark text-start">
					{{this.content}}
				</p>
			</div>
		</div>
		<div class="card-footer row m-0 p-0">
			{{> comment this}}
		</div>
	</div>
</div>