<style>
	h5, h6 { margin: 5px; padding: 5px; display: flex; align-items: center; } h5
	{ text-align: left; font-size: x-large; justify-content: flex-start; } h6
	{text-align: right; font-size: small; justify-content: flex-end;}
	.card-title { border-radius: 10px; }
</style>
<div class="create-post-button">
	<p>
		<button
			class="btn btn-outline-primary"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#new-post-collapse"
			aria-expanded="false"
			aria-controls="#new-post-collapse"
		>
			Create Post
		</button>
	</p>
	<div class="collapse" id="new-post-collapse">
		<div class="create-post card m-1 border-primary">
			<div class="text-primary card-header fs-4 text-center py-1 m-0">
				New Post
			</div>
			<form>
				<div class="m-0">
					<label
						for="post-title"
						class="form-label card-title py-2 px-0 m-0 mx-4 fs-5"
					>
						Title
					</label>
					<div class="py-0 px-4 m-0">
						<input
							type="text"
							class="form-control px-0 py-1 m-0 fs-6"
							id="post-title"
							aria-describedby="post-title-help"
						/>
					</div>
					<div
						id="post-title-help"
						class="form-text px-4 py-1 m-0"
					>
						Label your blog post with a creative title!
					</div>
				</div>
				<div class="m-0">
					<label
						for="post-body"
						class="form-label card-title py-2 px-0 m-0 mx-4 fs-5"
					>
						Content
					</label>
					<div class="py-0 px-4 m-0 mb-4">
						<textarea
							data-expandable
							class="form-control px-0 py-1 m-0 fs-6"
							name="post-body"
							id="post-body"
						></textarea>
					</div>
				</div>
				<div class="card-footer row m-0 mt-2 mb-2 py-2 px-4">
					<button
						type="submit"
						class="btn btn-outline-primary card-footer-button"
					>
						Submit
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{{#if count}}
	<div class="container-fluid">
		<div class="post-group-header text-primary text-center p-1 m-0">
			Your Posts
		</div>
		{{#each posts as |post|}}
			{{> post this}}
		{{/each}}
	</div>
	<div class="container-fluid mt-2">
		<div class="post-group-header text-primary text-center p-1 m-0">
			Your Comments
		</div>
		{{#each comments as |comment|}}
			<div
				class="comment-dashboard btn btn-outline-primary card-transform"
				id="comment-{{comment.id}}"
				role="button"
			>
				<div class="card m-0 p-0 border-0">
						<div class="card-header comment-header rounded-0">
							<h6
								class="font-weight-light text-muted text-end p-0 py-1 m-0"
							>
								Comment By
								{{comment.user.username}}
								on
								{{comment.updatedAt}}
							</h6>
						</div>
					<div class="card-body p-0 m-0">
						<div class="comment-text m-0 py-2 px-4">
							<p class="card-text text-dark p-0 m-0 text-start">
								{{comment.content}}
							</p>
						</div>
					</div>
					<div class="card-footer row m-0 mb-2 py-2 px-4">
						<a
							href="/post/{{comment.post_id}}"
							class="card-link btn btn-outline-secondary font-weight-light"
						>
							View comment on "{{comment.post.title}}"
						</a>
					</div>
				</div>
			</div>
		{{/each}}
	</div>
{{else}}
	<div class="alert alert-primary alert-dismissible fade show" role="alert">
		You have not made any posts or comments. Create a post or comment on a
		post and see your community contributions here!
		<button
			type="button"
			class="btn-close"
			data-bs-dismiss="alert"
			aria-label="Close"
		></button>
	</div>
{{/if}}